.grid {
  display: grid;
  gap: var(--semantic-layout-grid-gap);
  grid-template-columns: repeat(var(--primitive-grid-columns-mobile), 1fr);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(var(--primitive-grid-columns-tablet), 1fr);
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(var(--primitive-grid-columns-desktop), 1fr);
  }
}

.item {
  grid-column: span var(--column-span-mobile, 4);
}

@media (min-width: 768px) {
  .item {
    grid-column: span var(--column-span-tablet, 8);
  }
}

@media (min-width: 1200px) {
  .item {
    grid-column: span var(--column-span-desktop, 12);
  }
}
